@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  height: 100%;
}
body {
  background: linear-gradient(-45deg, #f89b29c8 0%, #ff0f7bef 100%);
  background-attachment: fixed;
}
.hero-section {
  /* background-color: #5356ffcc; */
  /* background-color: #41c9e2; */
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
}

.hero-image {
  background-image: url("/math-doodle.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.call-btn {
  /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%); */
  background-color: #f89b29;
  box-shadow: #fbf6f1 1px 1px 80px;
}
.card {
  box-shadow: rgba(148, 153, 152, 0.384) 1px 1px 40px;
}

.card-blue {
  background-color: #00e3b7;
  box-shadow: #00e3b7 1px 1px 40px;
}
.card-green {
  background-color: #94f28a;

  box-shadow: #94f28a 1px 1px 40px;
}
.card-yellow {
  background-color: #f9f871;
}

.testimonials {
  background: linear-gradient(-45deg, #f89b29 0%, rgb(255, 15, 123, 0.8) 100%);
}
